<nav class="teal lighten-1">
  <div class="nav-wrapper container">
    <%= link_to("#{material_icon.whatshot} CryptoNews".html_safe, root_path, class: 'brand-logo', id: 'logo-container') %>

    <!-- <ul class="right hide-on-med-and-down">
      <li><%= link_to('Link', '#') %></li>
    </ul> -->

    <!-- <%= link_to(material_icon.menu, '#', class: 'sidenav-trigger', data: { target: 'nav-mobile' }) %> -->
  </div>
</nav>

<!-- <ul class="sidenav" id="nav-mobile">
  <li><%= link_to('Link', '#') %></li>
</ul> -->
