<li class="collection-item" data-keyword="<%= keyword %>">
  <span class="title"><%= keyword.titleize %></span>
  <span class="badge teal white-text"><%= results.count %></span>
  <br>
  <small class="subtitle center"><%= results.first[:created_at] %></small>
</li>
